<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CodeForces Stalker</title>
      <!-- add icon link -->
      <link rel = "icon" href =  
         "https://i.pinimg.com/originals/0f/8b/28/0f8b2870896edcde8f6149fe2733faaf.jpg" 
         type = "image/x-icon">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <style>
         html { 
         background: url(images/bg.png) no-repeat center center fixed; 
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         }
      </style>
   </head>
   <body>
      <main class="container bd- main">
         <div class="columns is-centered mt-5 is-overlay mr-2 ml-2 mb-5">
            <div class="column is-half">
               <div class="card">
                  <div class="card-content">
                     <p class="title">
                        CodeForces Stalker
                     </p>
                     <p class="subtitle mt-3">
                     <form id="form" method="POST" action="/details">
                        <label class="has-text-weight-semibold">Enter CodeForces Username</label>
                        <div class="control has-icons-left has-icons-right">
                           <input class="input" id="req" type="text" name="nick" placeholder="Enter username" value="<%= nick === "" ? "" : nick %>" required>
                           <span class="icon is-small is-left">
                           <i class="fas fa-user"></i>
                           </span>
                        </div>
                        <div class="columns is-mobile">
                           <div class="column">
                              <button id="stalk" class="button is-primary is-hovered mt-3" type= "submit">
                              <span class="icon is-small">
                              <i class="fa fa-search"></i>
                              </span>
                              <span>Stalk</span>
                              </button>
                           </div>
                     </form>
                     <div class="column">
                     <% if(done===2){ %>
                     <form method="POST" action="/downloadSubmissions/<%=nick%>" target="_blank">
                     <input type="hidden" value= <%=ac%> name="ac" >
                     <input type="hidden" value= <%=nick%> name="nick" >
                     <button id="stalk" class="button is-primary is-hovered mt-3" type="submit">
                     <span class="icon is-small">
                     <i class="fa fa-download"></i>
                     </span>
                     <span>Download Submissions</span>
                     </button>
                     </form>
                     <%}%>
                     </div>
                     <div class="column is-half"></div>
                     </div>
                     </p>
                     <% if(done===2){ %>
                     <hr>
                     <p class="subtitle is-6 mt-3">
                        <a class="button is-small" target="_blank" href="<%= URL %>">
                        <span class="icon is-small">
                        <i class="fa fa-code"></i>
                        </span>
                        <span>CodeForces Handle</span>
                        </a>
                     </p>
                     <p class="subtitle is-6 nick">Nick: <%= nick %></p>
                     <p class="subtitle is-6 ">Total Submissions: <%= total %></p>
                     <p class="subtitle is-6 ">Accuracy: <%= accuracy %>% </p>
                     <p class="subtitle is-6 ">Highest Rating Question Solved: <%= quesRating %> </p>
                     <p class="subtitle is-6 ">Accepted Submissions: <%= ac %></p>
                     <p class="subtitle is-6 ">Wrong Submissions: <%= wrong %></p>
                     <p class="subtitle is-6 ">Time Limit Exceeded: <%= tle %></p>
                     <p class="subtitle is-6 ">Runtime Error: <%= runtime %></p>
                     <p class="subtitle is-6 ">Memory Limit Exceeded: <%= memorylimit %></p>
                     <p class="subtitle is-6 ">Compilation Error: <%= compilation %></p>
                     <p class="subtitle is-6 ">Hacked: <%= hacked %></p>
                     <p class="subtitle is-6 ">Others: <%= other %></p>
                     <div class="chart-container" style="maintainAspectRatio: false;">
                        <canvas id="myChart"></canvas>
                     </div>
                     <% }else if(done===1){ %>
                     <p class="has-text-danger">Invalid UserId</p>
                     <% }else if(done===-1){ %>
                     <p class="has-text-danger">There Some Error Retrieving Data!</p>
                     <% } %>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <% if(done===2){ %>
      <script>
         let ctx= document.getElementById('myChart').getContext('2d')
         Chart.defaults.global.defaultFontFamily= "Poppins";        
         Chart.defaults.global.defaultFontSize= 16;
         Chart.defaults.global.defaultFontColor= '#777'
         var myChart = new Chart(ctx, {
             type: 'pie',
             data: {
                 labels: ['Accepted', 'Wrong Answer', 'Runtime Error', 'Time Limit Exceeded', 'Memory Limit Exceeded', 'Compilation Error', 'Hacked', 'Others'],
                 datasets: [{
                     label: 'Submissions',
                     data: [
                         <%= ac %>,
                         <%= wrong %>,
                         <%= runtime %>,
                         <%= tle %>,
                         <%= memorylimit %>,
                         <%= compilation %>,
                         <%= hacked %>,
                         <%= other %>
                     ],
                     backgroundColor: [
                         'rgb(132,222,2)',
                         'rgb(211,33,45)',
                         'rgb(0,48,143)',
                         'rgb(255,191,0)',
                         'rgb(201,255,229)',
                         'rgb(176,101,241)',
                         'rgb(196,98,16)',
                         'rgb(0,0,0)'
                     ],
                     borderWidth: 1,
                     borderColor: '#777',
                     hoverBorderWidth: 3,
                     hoverBorderColor: '#000'
                 }]
             },
             options: {
                 title: {
                     display: true,
                     text: "Submission Chart",
                     fontSize: 25,
                     fontFamily: "Segoe UI"
                 },
                 legend: {
                     position: 'right',
                     labels: {
                        fontColor: '#000',
                        fontFamily: "Segoe UI"
                     }
                 },
                 layout: {
                     padding: {
                         left: 50,
                         right: 0,
                         bottom: 0,
                         top: 0
                     }
                 }
             }
         });
      </script> 
      <% } %>
   </body>
</html>